$charcoal: #bbb;
$fringyflower: #AFE3C0;
$bananamania: #FFF1AC;

.main-header {
  background-color: $bananamania;
  align-items: center;
  border-bottom: 1px solid $charcoal;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  font-family: 'Luckiest Guy', cursive;
  padding: 0 20px;
  height: 100px;


  a,
  span {
    font-size: 1em;
    margin: 10px;
    text-align: center;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 1em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
