$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$black: #000;
$shamrock: #45e2ae;
$green: #008000;
$bananamania: #FFF1AC;

.auth-form {
  border: 1px solid $black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  margin: 15% auto;
  max-width: 600px;
  text-align: center;  
  width: 50vw;
  
  h3,
  input {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto 0;
    text-align: center;
    border-radius: 28px;
  }

  button {
    align-self: center;
    border-radius: 28px;
    max-width: 200px;
    margin: auto 0;

    &:hover {
      background-color: $shamrock;
    }
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  float: left;
  max-width: 30%;
  margin: 15px;
  overflow: hidden;
  height: 60vh;
  padding: 10px;
  transition: 0.3s;
}

.yelp-image {
  height: 200px;
  width: 100%;
  object-fit: fill;
}

.yelp-header-main {
  text-align: center;
}

.search-restaurant-input {
  border-radius: 10px;
  display: flex;
  font-size: 24px;
  height: 60px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 80vw;
}

.restaurant-price {
  color: $green;
}

.add-restaurant-btn {
  border-radius: 5px;
}

.restaurants-name {
  display: flex;
  text-align: center;
  align-items: center;
}

.restaurant-id {
  float: left;
  border: 2px solid $black;
  border-radius: 8px;
  color: $black;
  padding: 10px;
  margin: 10px;
}

.show-restaurant-form {
  border: 2px solid $black;
  border-radius: 8px;
  text-align: center;
  margin: 30px;
}

.btn-danger {
  margin: 10px;
}

.btn-primary {
  margin: 10px;
}

.general-restaurant-form {
  border: 2px solid $black;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 30px;
}

.form-control {
  width: 60vw;
  text-align: center;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
}