$success: #23d529;
$warning: #f1e681;
$error: #f50d0d;
$charcoal: #ccc;
$black: #000;
$shamrock: #45e2ae;
$green: #008000;
$curiousblue: #277BC0;
$scarlet: #F02F18;
$tiber: #244142;

.auth-form {
  background-color: white;
  align-items: center;
  border: 1px solid $black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  text-align: center;

  input[type="email"], input[type="password"] {
    border: 0;
    display: block;
    text-align: center;
    padding: 10px;
    width: 60%;
    outline: none;
    transition: 0.25s;
    border: 2px solid $curiousblue;
  }

  input[type="email"]:focus, input[type="password"]:focus {
    width: 80%;
    border-color: $green;
  }
  
  h3,
  input {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto 0;
    text-align: center;
    border-radius: 28px;
  }

  button {
    align-self: center;
    border-radius: 28px;
    max-width: 200px;
    margin: auto 0;

    &:hover {
      background-color: $charcoal;
    }
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  max-width: 315px;
  max-height: 515px;
  margin: 15px;
  overflow: hidden;
  height: 60vh;
  padding: 10px;
  transition: 0.3s;
}

.yelp-image {
  height: 200px;
  width: 100%;
  object-fit: fill;
}

.yelp-header-main {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.search-restaurant-input {
  border-radius: 10px;
  display: flex;
  font-size: 24px;
  padding: 10px;
  width: 100%;
}

.restaurant-price {
  color: $green;
}

.add-restaurant-btn {
  border-radius: 5px;
}

.delete-restaurant-btn {
  border-radius: 5px;
}

.my-restaurants {
  font-size: 24px;
  margin: 10px;
  color: white;
  font-weight: bold;
}


.show-restaurant-form {
  border: 2px solid $black;
  border-radius: 8px;
  text-align: center;
  margin: 30px;
}

.btn-danger {
  margin: 10px;
}

.btn-primary {
  margin: 10px;
}

.general-restaurant-form {
  border: 2px solid $black;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 30px;
}

.form-control {
  width: 60vw;
  text-align: center;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.restaurant-spacer {
  height: 48px;
}

.home-page {
  font-family: 'Gochi Hand';
  align-items: center;
  color: white;
  display: flex;
  font-size: 24px;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}